.coin-card{
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
}

.coin-card mat-card-title{
    font-size: 2rem;
}

::ng-deep .coin-card .mat-card-header-text{
    margin: 0 auto;
}

img.coin-emblem{
    max-width: 200px;
    margin: 0 auto;
}