

<mat-card class="coin-card" *ngIf="balanceLoaded">
  <mat-card-header>
    <mat-card-title>{{coin.name}}</mat-card-title>
  </mat-card-header>
  <img (click)="setBalanceAsync()" mat-card-image class="coin-emblem" src="assets/token-images/{{coin.id}}.png" alt="{{coin.name}} emblem">
  <mat-card-content>
    Balance: {{balance | weiToEth | currencyFormat}} {{coin.symbol}}
    <span *ngIf="price != null">{{(balance | weiToEth )* price}} USD</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>SEND</button>
    <button mat-button>RECEIVE</button>
    <button mat-button *ngIf="coin.saleContractAddress != null" (click)="purchaseTokens()">EXCHANGE</button>
  </mat-card-actions>
</mat-card>