<h1 mat-dialog-title>
  Purchase {{coin.symbol}}
  <small class="ethBalance" *ngIf="ethBalance && !transactionSent">ETH balance: {{ethBalance | weiToEth}}</small>
</h1>
<div mat-dialog-content *ngIf="!transactionSent">
  <div class="form">

    <mat-form-field color="accent" class="eth-input">
      <input matInput [disabled]="sending" placeholder="ETH Amount" (blur)="estimateGas(purchaseAmountEth, gweiAmount, gasLimit)"
        [(ngModel)]="purchaseAmountEth" />
    </mat-form-field>
    <div class="gwei-amount" fxLayoutAlign="row">
      <span fxFlex="60px">Gwei: {{gweiAmount}}</span>

      <mat-slider fxFlex class="" [disabled]="sending" [invert]="invert" [max]="100" [min]="1" [step]="1" [thumb-label]="true"
        [(ngModel)]="gweiAmount" [vertical]="false">
      </mat-slider>
    </div>

    <mat-form-field color="accent" class="eth-input">
      <input matInput [disabled]="sending" placeholder="GAS Limit" [(ngModel)]="gasLimit" />
    </mat-form-field>
    <p class="tx-cost">Tx cost: {{getGasCostEth(gasLimit, gweiAmount)}} ETH</p>
    <p class="token-amount">
      <b>You will get: {{getTokenAmount()}} {{coin.symbol}}</b>
    </p>

  </div>
  <div [hidden]="!error" class="errorMessage">
    {{errorMessage}}
  </div>
</div>
<div mat-dialog-content *ngIf="transactionSent">
  Transaction successfully sent, track it here:
  <a class="tx-link" href="getTxLink(txHash)">{{getTxLink(txHash)}}</a>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="sending" (click)="onNoClick()">
    Cancel
  </button>
  <button mat-raised-button color="accent" (click)="transactionSent ? onNoClick() : purchaseTokensAsync(purchaseAmountEth, gweiAmount, gasLimit)"
    [disabled]="sending">
    <span id="spinnerContainer" *ngIf="sending && !transactionSent">
      <mat-spinner [diameter]="20" class="spinner">
      </mat-spinner>
    </span>
    <span *ngIf="!sending && !transactionSent">
      PURCHASE
    </span>
    <span id="iconContainer" *ngIf="transactionSent">
      <mat-icon class="green-icon">done</mat-icon>
    </span>
  </button>
</div>