@import '~@angular/material/theming';

@mixin token-dialog-theme($theme) {
  
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, accent);
    
    mat-form-field.eth-input{
      
        // color: mat-color($accent);        
      
    }

    div.gwei-amount span{
        margin: auto 10px auto 5px;
        font-size: 0.8em;
        color: mat-color($primary, lighter);
    }
    div.gwei-amount mat-slider{
        margin: auto 0px auto 0px;
    }

    h1.mat-dialog-title .ethBalance{
        float:right;
        font-size: 0.6em;
        color: mat-color($accent);
    }

    p.tx-cost{
        font-size: 0.8em;
        color: mat-color($accent);
    }
  }