.coin-container{
    width: 75%;
    margin: 0 auto;
    
}

oasis-coin-summary{
    margin: 30px 15px;
    
}

@media screen and (max-width: 959px) {
    div.coin-container {
        width: 100%;
        /* flex-direction: column !important; */
    }

    oasis-coin-summary{
        /* margin: 60px auto; */
    }
}