.dashboard-title {
  margin: 0px auto;
  padding: 40px 0px 10px 0px;
  text-align: center;
}

.coin-container {
  width: 75%;
  margin: 0 auto;
}

oasis-coin-summary {
  margin: 30px 15px;
}

@media screen and (max-width: 959px) {
  div.coin-container {
    width: 100%;
  }
}
