@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "theme.scss";

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.my-theme {  
	// use our theme with angular-material-theme mixin
	@include angular-material-theme($theme);
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
	background-color: mat-color($primary, darker);
	color: mat-color($primary, darker-contrast);
}
