:host {
  height: 100%
}

.home-container {
  height: calc(100% - 64px);
}

.oasis-title-container {
  margin-left: -75px;
}

.oasis-title {
  margin: auto 0px 0px 0px;
  font-size: 4em;
}

.rpo-link{
    cursor: pointer;
}